/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.main {
  display: flex;
  justify-content: center;
  user-select: none;
}

.box {
  padding-top: 50px;
  text-align: center;
}

.img {
  display: block;
  width: 160px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.btn {
  margin-top: 20px;
  line-height: 2;
}
